
/*PALETA-DE-CORES 
#137DC5
#111111
#FFFFFF
#2199EA
#0F5F96
#2A2A2A

BONUS - #161616  #00abf0  #142352;
*/

/* FULLPAGE */

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Bebas Neue', sans-serif;
  }

  body {
	background-color: #161616;
	/* background-color: #FFFFFF; */
	color: #FFFFFF;
	

  }

/* ---------------------------------------------------------------------------------------------------------------------------- */
  /* NAVBAR */

  .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;

	background-color:#2A2A2A ;
	/* background-color:transparent; */

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
  }

  .logo {
	font-size: 30px;
	color: #ededed;
	text-decoration: none;
	font-weight: 200;
	transition: .5s;
  }
  .logo a:hover {
	color: #0F5F96;
  }

  .navbar a {
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 150;
	margin-left: 35px;
	transition: .5s;
  }
  .navbar a:hover,
  .navbar a.active {
	color: #0F5F96;
  }
/* ---------------------------------------------------------------------------------------------------------------------------- */
  /* HOMEPAGE */

  .home {
	height: 100vh;
	
	/* background: url('../img/osai-logo-heart-vazio.png') no-repeat; */
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10%;
	display: flex;

	width:100%;
	
	
	/* justify-content: space-between; */
	/* padding: 50px 5% 0px 5%; */
    /* position: relative; */


  }

  .img-logo{
	width: 50%;
	height: 50%;
  }

  .back-image{
	height: 100vh;
	background: url('../img/osai-banner-black-.png') no-repeat;

	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(3px);

	background-size: cover;
	background-position: center;
  }

  .home-text {
	max-width: 700px;

  }

  .home-text h1 {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;

	color: #00abf0;
  }
  .home-text h2 {
	font-size: 32px;
	font-weight: 700;

	color:  #0F5F96;
  }

  .home-text p {
	font-size: 16px;
	margin: 20px 0 40px; 
	/* font-weight: 700; */
	/* color:  #0F5F96; */

  }
/* ---------------------------------------------------------------------------------------------------------------------------- */
  /* BUTTONS */

 .home-text .btn-box {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
	background: transparent;
 }


.btn-box  a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 150px;
	height: 100%;

	background-color:#00abf0 ;
	border: 2.5px solid #00abf0;
	border-radius: 8px;
	font-size: 19px;
	color: #161616;

	text-decoration: none;
	font-weight: 200;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;

	transition: .5s;
}

  .btn-box  a:hover{
	color: #00abf0;
  }
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* ALTERAR COR ESTÁTICA DOS BOTOES */

  .btn-box a:nth-child() {
	background: transparent;
	color: #00abf0;
  }

  .btn-box a:nth-child(0):hover {
	color: #161616;
  }

  .btn-box a:nth-child(0)::before {
	background: #00abf0;
	
  }
/* ---------------------------------------------------------------------------------------------------------------------------- */

  .btn-box a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;

	background: #161616;
	/* background:  #142352; */
	/* background:  #1b789c; */

	z-index: -1;
	transition: .5s;
  }

  .btn-box a:hover::before {
	width: 100%;
  }

  .social{
	position: absolute;
	bottom: 40px;
	width: 170px;
	background: red;
  }